@model List<First_core_project.Models.Product>

<div class="container mt-5 mb-5">
    <form asp-controller="Home" asp-action="Search" method="get">
        <div class="row">
            <input type="submit" class="col-sm-2 btn btn-primary" value="ابحث" />
            <div class="col-sm-10">
                <input type="text" name="xname" id="xname" value="@ViewBag.Keyword" style="text-align:right" class="form-control" placeholder="البحث">
            </div>
        </div>
    </form>
</div>

<section id="services" class="services section">
    <div class="container section-title" data-aos="fade-up">
        <h2>البحث في المنتجات</h2>
        <p>نحن في خدمتكم ونقدم لكم افضل المنتجات اينما كنتم</p>
    </div>

    <div class="container">
        <div class="row gy-4">
            @foreach (var item in Model)
            {
                <div class="col-xl-4 col-lg-6" data-aos="fade-up" data-aos-delay="100">
                    <div class="service-item d-flex">
                        <div class="icon flex-shrink-0"><i class="bi bi-briefcase"></i></div>
                        <div>
                            <h4 class="title"><a href="/Home/CurrentProducts/@item.Id" class="stretched-link">@item.Name</a></h4>
                            <p class="description">@item.Discription</p>
                        </div>
                    </div>
                </div>
            }
        </div>

        <div class="row mt-5">
            <div class="col-12 d-flex justify-content-center">
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        @* هنا بنفترض إننا باعتين رقم الصفحة الحالية في ViewBag *@
                        @{
                            int currentPage = ViewBag.CurrentPage ?? 1;
                        }

                        @if (currentPage > 1)
                        {
                            <li class="page-item">
                                <a class="page-link" href="@Url.Action("Search", new { xname = ViewBag.Keyword, PageNumber = currentPage - 1 })">السابق</a>
                            </li>
                        }

                        @for (int i = 1; i <= 5; i++) // رقم 5 ده افتراضي لحد ما تحسب TotalPages
                        {
                            <li class="page-item @(i == currentPage ? "active" : "")">
                                <a class="page-link" href="@Url.Action("Search", new { xname = ViewBag.Keyword, PageNumber = i })">@i</a>
                            </li>
                        }

                        <li class="page-item">
                            <a class="page-link" href="@Url.Action("Search", new { xname = ViewBag.Keyword, PageNumber = currentPage + 1 })">التالي</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>